.custom-nav-style{
  color: #27393a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px 20px;
}
.custom-nav-style:hover {
  background-color: #4696c5;
  color: rgb(0, 0, 0);
}
.sign-in{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-style{
  height: 300px;
  width: 300px;
  padding: 20px;
 text-align: center;
 justify-items: center;
 border: 2px solid #000000;
 border-radius: 10px 20px;
}
.custom-btn-bg{
  background-color: #4696c5;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  color: white;
  text-transform: uppercase;
  transition: .8s;
}